{% extends "company/layout/base.html" %}
{% block body %}
{% load static %}
            <div class="main-panel">
               <div class="content-wrapper">
                  <div class="page-header">
                     <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white me-2">
                        <i class="mdi mdi-home"></i>
                        </span><b>All Jobs</b>
                     </h3>
                     <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active" aria-current="page">
                              <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <div class="row">
                     <div class="col-12 grid-margin">
                        <div class="card">
                           <div class="card-body">
                              <h4 class="card-title">All Jobs List</h4>
                              <div class="table-responsive">
                                 <table class="table">
                                    <thead>
                                       <tr>
                                          <th><b>Profile</b></th>
                                          <th><b>Salary</b></th>
                                          <th><b> Experience</b> </th>
                                          <th><b> Roles & Responsibilities</b> </th>
                                          <th><b> Location</b> </th>
                                          <th><b> Contact</b> </th>
                                          <th><b> About Company</b> </th>
                                          <th><b> Pincode</b></th>
                                          <th>
                                             <center> <b>Action</b></center>
                                          </th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       {% for job in job %}
                                       <tr>
                                          <td><a href="{% url 'job_details' job.id %}"> {{job.profile}}</a> </td>
                                          <td> {{job.salary}} </td>
                                          <td> {{job.experience}} </td>
                                          <td> {{job.roles_responsibilities | truncatechars:20 }}  </td>
                                          <td> {{job.location}} </td>
                                          <td> {{job.contact}} </td>
                                          <td> {{job.about_company}} </td>
                                          <td> {{job.pincode}} </td>
                                          <td> <a href="{% url 'edit_job' job.id %}" class='btn btn-success'>Edit</a>
                                             <a href="{% url 'delete' job.id %}" class='btn btn-danger'>Delete</a> 
                                          </td>
                                       </tr>
                                       {% endfor %}
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Button trigger modal -->
               {% endblock %}